@using IdentityServer.Nova.Extensions
@using Microsoft.AspNetCore.Identity
@using IdentityServer.Nova.Models
@using IdentityServer.Nova

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@inject IdentityServer.Nova.Services.ColorSchemeService ColorScheme

@if (SignInManager.IsSignedIn(User))
{
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="~/Home/Index" title="Manage">
                    <div class="@ColorScheme.NavIcon("home")"></div>
                    Home
                </a>
            </li>
            <li>
                @if (Configuration.DenyManageAccount())
                {
                    <a href="~/Home/Index" title="Manage">
                        <div class="@ColorScheme.NavIcon("account")"></div>
                        Hello @UserManager.GetUserName(User)!
                    </a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                        <div class="@ColorScheme.NavIcon("account")"></div>
                        Account: @UserManager.GetUserName(User)
                    </a>
                }
            </li>
            <li>
                <a href="~/Account/Logout" title="Logout">
                    <div class="@ColorScheme.NavIcon("account-logout")"></div>
                    Logout
                </a>
            </li>
        </ul>
}
else
{
<ul class="nav navbar-nav navbar-right">
    @if (!Configuration.DenyRegisterAccount())
    {
        <li>
            <a asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    }
    <li>
        <a href="~/Account/Login" title="Login">Login</a>
    </li>
</ul>
}