@page
@model IdentityServer.Areas.Admin.Pages.Resources.IdentitiesModel
@{
    ViewData["Title"] = "API Resources";
    ViewData["ActivePage"] = ResourcesNavPages.Identities;
}
@inject IdentityServerNET.Services.ColorSchemeService ColorScheme

<div class="row">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="col-md-6">
        <h4>Identity Resources</h4>
        <ul class="nav nav-pills nav-stacked">

            @if (Model.IdentityResources != null)
            {
                @foreach (var identityResource in Model.IdentityResources)
                {
                    <li class="ui-list-item">
                        <a style="padding-left:4px"
                           asp-page="./EditIdentity/Index"
                           asp-route-id="@identityResource.Name">
                            <div class="@ColorScheme.LeftIcon("edit-text")"></div>
                            <div><strong>@identityResource.Name</strong></div>
                            <div>@identityResource.DisplayName</div>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="col-md-6">
        <div class="row collapsable-tool">
            <h4>New Identity Resource</h4>
            <form id="-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.IdentityResourceName" class="form-control" placeholder="A unique API name..." />
                    <span asp-validation-for="Input.IdentityResourceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.IdentityResourceDisplayName" class="form-control" placeholder="Optional: an API display name..." />
                    <span asp-validation-for="Input.IdentityResourceDisplayName" class="text-danger"></span>
                </div>
                <button id="new-client-button" type="submit" class="btn btn-default">Create...</button>
            </form>
        </div>
        <div class="row collapsable-tool">
                <h4>Add Standard Identity Resources</h4>
                <ul class="nav nav-pills nav-stacked">
                    @foreach (var nestedType in typeof(IdentityServer4.Models.IdentityResources).GetNestedTypes())
                    {
                        try
                        {
                            var identityResource = (IdentityServer4.Models.IdentityResource)Activator.CreateInstance(nestedType);
                            if (Model.IdentityResources.Where(r => r.Name.ToLower() == identityResource.Name.ToLower()).Count() == 0)
                            {
                                <li>
                                    <a asp-page="./CreateStandardIdentityResource"
                                       asp-route-name="@nestedType.Name">Add @nestedType.Name</a>
                                </li>
                            }
                        }
                        catch { }
                    }
                </ul>
            </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}