@model EditRolePageModel
@{

}

    <ul class="nav nav-pills nav-stacked">
        <li class="">
            <a asp-page="../Index">..</a>
        </li>

        <li class="@EditRoleNavPages.IndexNavClass(ViewContext)">
            <a asp-page="./Index"
               asp-route-id="@Model.CurrentApplicationRole.Id">Role</a>
        </li>

        <li class="@EditRoleNavPages.RoleUsersNavClass(ViewContext)">
            <a asp-page="./RoleUsers"
               asp-route-id="@Model.CurrentApplicationRole.Id">Role Users</a>
        </li>

        <li class="@EditRoleNavPages.DeleteRoleNavClass(ViewContext)">
            <a asp-page="./DeleteRole"
               asp-route-id="@Model.CurrentApplicationRole.Id">Delete</a>
        </li>

    </ul>