@page
@model IdentityServer.Areas.Admin.Pages.SecretsVault.EditLocker.EditVaultSecret.VersionsModel
@{
    ViewData["Title"] = "Versions";
    ViewData["ActivePage"] = EditVaultSecretNavPages.Versions;
}
@inject IdentityServer.Nova.Services.ColorSchemeService ColorScheme

    
    <div class="row">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div class="col-md-6">
            <h4>@ViewData["Title"]</h4>
            @if (Model.VaultSecretVersions != null)
            {
                <ul class="nav nav-pills nav-stacked">

                   @foreach (var secretVersion in Model.VaultSecretVersions.OrderByDescending(s => s.VersionTimeStamp))
                   {
                    <li class="ui-list-item" style="min-height:50px;position:relative">
                        <div class="@ColorScheme.LeftIcon("code-c")"></div>
                        <div style="display:inline-block;padding:10px 15px 10px 5px">
                            @($"{ new DateTime(secretVersion.VersionTimeStamp, DateTimeKind.Utc).ToLocalTime().ToShortDateString() } { new DateTime(secretVersion.VersionTimeStamp, DateTimeKind.Utc).ToLocalTime().ToLongTimeString() }")
                        </div>
                        <br />
                        @*
        <div style="display:inline-block;padding:2px 15px 2px 5px;color:#ccc">@(secretVersion.Secret.Substring(0, Math.Min(secretVersion.Secret.Length / 2, 22)))***</div>
                        *@
                        <a href="~/api/secretsvault?v=1.0&path=@($"{Model.LockerName}/{Model.CurrentSecret.Name}/{secretVersion.VersionTimeStamp}")" target="_blank">@($"{Model.LockerName}/{Model.CurrentSecret.Name}/{secretVersion.VersionTimeStamp}")</a>
                        <a style="position:absolute; right:0px;top:0px"
                           asp-page-handler="Remove"
                           asp-route-id="@Model.CurrentSecret.Name"
                           asp-route-locker="@Model.LockerName"
                           asp-route-stamp="@secretVersion.VersionTimeStamp">
                            Remove
                        </a>
                    </li>
                    }
                </ul>
            }

        </div>
        <div class="col-md-6">
            <div class="row collapsable-tool">
                <h4>New secret version</h4>
                <form id="-form" method="post">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Input.LockerName" />
                    <input type="hidden" asp-for="Input.SecretName" />

                    <div class="form-group">
                        <textarea asp-for="Input.Secret" class="form-control" type="password" placeholder="Something you want to hide..." rows="5">

                    </textarea>
                        <span asp-validation-for="Input.Secret" class="text-danger"></span>
                    </div>

                    <button id="add-secret-button" type="submit" class="btn btn-default">Add</button>
                </form>
            </div>
            <partial name="_createRandomSecretPartial" />
        </div>
    </div>