@page
@model IdentityServer.Areas.Admin.Pages.Resources.EditIdentity.OptionsModel
@{
    ViewData["Title"] = "Identity Options";
    ViewData["ActivePage"] = EditIdentityResourceNavPages.Options;
}


    <div class="row">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <h4>@ViewData["Title"]</h4>
        <div class="col-md-6">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var field in typeof(IdentityServer.Nova.Models.IdentityServerWrappers.IdentityResourceModel).GetProperties())
                {
                    if (field.CanWrite && field.PropertyType == typeof(bool))
                    {
                        var name = field.Name;
                        var hasValue = (bool)field.GetValue(Model.CurrentIdentityResource);

                        <li style="border-bottom:1px solid #eee">
                            <a asp-page-handler="Set"
                               asp-route-id="@Model.CurrentIdentityResource.Name"
                               asp-route-option="@name"
                               asp-route-value="@(!hasValue)">
                                <div style="width:32px;height:26px;float:left"
                                     class="@(hasValue ? "glyphicon glyphicon-ok text-success" : "")">
                                </div>
                                <div>@(name)</div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>