@page
@model IdentityServer.Areas.Admin.Pages.Clients.EditClient.SecretsModel
@{
    ViewData["Title"] = "Client Secrets (Hashed)";
    ViewData["ActivePage"] = EditClientNavPages.Secrets;
}
@inject IdentityServer.Nova.Services.ColorSchemeService ColorScheme
    
    <div class="row">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <div class="col-md-6">
            <h4>@ViewData["Title"]</h4>
            @if (Model.CurrentClient.ClientSecrets != null)
            {
                <ul class="nav nav-pills nav-stacked">

                    @for (int i = 0; i < Model.CurrentClient.ClientSecrets.Count(); i++)
                    {
                        var secret = Model.CurrentClient.ClientSecrets.ToArray()[i];
                        var icon = "lock-closed";
                        if (secret.Type == IdentityServer4.IdentityServerConstants.SecretTypes.X509CertificateBase64)
                        {
                            icon = "edit-text";
                        }
                        <li class="ui-list-item">
                            @{ 
                                string displayText;
                                switch (secret.Type)
                                {
                                    case IdentityServer.Nova.IdentityServerNovaConstants.SecretTypes.SecretsVaultSecret:
                                        displayText = secret.Value;
                                        break;
                                    default:
                                        displayText = $"{ secret.Value.Substring(0, 2) }***";
                                        break;
                                }
                            }

                            <div class="@ColorScheme.LeftIcon(icon)"></div>
                            <div style="display:inline-block;padding:2px 15px 2px 5px;color:#ccc">@displayText</div>
                            <div style="display:inline-block;padding:10px 15px 10px 5px">@($"{ secret.Type } { (secret.Expiration.HasValue ? "(Expires: "+secret.Expiration.Value.ToShortDateString()+")" : String.Empty) } ")</div>

                            <a style="display:inline-block;float:right"
                               asp-page-handler="Remove"
                               asp-route-id="@Model.CurrentClient.ClientId"
                               asp-route-secretIndex="@i"
                               asp-route-secretHash="@secret.Value.ToSha256().Substring(0,10)">
                                Remove
                            </a>
                            @if (!String.IsNullOrWhiteSpace(secret.Description))
                            {
                                <br />
                                <div style="display:inline-block;padding:2px 15px 10px 63px;color:#aaa;font-size:.85em">@(secret.Description)</div>
                            }
                        </li>
                    }
                </ul>
            }

        </div>
        <div class="col-md-6">
            <div class="row collapsable-tool">
                <h4>New Secret</h4>
                <form id="-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="Input.ClientId" />


                    <div class="form-group">
                        <textarea asp-for="Input.Secret" class="form-control" type="password" placeholder="A realy secure secret..." rows="5">

                    </textarea>
                        <span asp-validation-for="Input.Secret" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-for="Input.SecretType" class="form-control">
                            <option value="@IdentityServer4.IdentityServerConstants.SecretTypes.SharedSecret">Shared Secret</option>
                            <option value="@IdentityServer4.IdentityServerConstants.SecretTypes.X509CertificateBase64">X509 Certificate (.crt)</option>
                            <option value="@IdentityServer.Nova.IdentityServerNovaConstants.SecretTypes.SecretsVaultSecret">SecretsVault Secret (Path)</option>
                        </select>
                        @*<input asp-for="Input.SecretType" class="form-control" disabled />*@
                        <span asp-validation-for="Input.SecretType" class="text-danger"></span>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Optional Expiration Date:</label>
                        <input asp-for="Input.Expiration" type="date" class="form-control" />
                        <span asp-validation-for="Input.Expiration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Input.SecretDescription" class="form-control" placeholder="Optional: Secret Description" rows="3"></textarea>
                        <span asp-validation-for="Input.SecretDescription" class="text-danger"></span>
                    </div>

                    <button id="add-secret-button" type="submit" class="btn btn-default">Add client secret</button>
                </form>
            </div>
            <partial name="_createRandomSecretPartial" />
        </div>
    </div>