@model ManageAccountProfilePageModel

@if (Model.EditorInfos != null)
{
    foreach (var editorInfo in Model.EditorInfos
                                        .EditorInfos
                                        .Where(p => String.IsNullOrEmpty(Model.Category) || Model.Category.Equals(p.Category, StringComparison.OrdinalIgnoreCase)))
    {
    <div class="form-group">
        @if (!String.IsNullOrEmpty(editorInfo.DisplayName))
        {
            <label>@editorInfo.DisplayName</label>
        }

        @if (editorInfo.PropertyType.IsArray || editorInfo.EditorType.HasFlag(EditorType.TextArea))
        {
            <textarea name="@editorInfo.Name"
                      @Html.Raw(RazorHelpers.GetPropertyAttributes(editorInfo))
                      class="form-control">@RazorHelpers.GetPropertyValue(Model.ApplicationUser, editorInfo)</textarea>
            <span class="text-danger field-validation-valid" data-valmsg-for="@editorInfo.Name" data-valmsg-replace="true"></span>
        }
        else if (editorInfo.EditorType.HasFlag(EditorType.ComboBox))
        {

            var optionsValue = @RazorHelpers.GetPropertyValue(Model.ApplicationUser, editorInfo)?.ToString();

            <select name="@editorInfo.Name"
                    @Html.Raw(RazorHelpers.GetPropertyAttributes(editorInfo))
                    class="form-control">

                @if (editorInfo.ComboBoxOptions != null)
                {
                    foreach (var key in editorInfo.ComboBoxOptions.Keys)
                    {
                        <option value="@key">@editorInfo.ComboBoxOptions[key]</option>
                    }
                }

            </select>

        }
        else
        {
            <input name="@editorInfo.Name"
                   value="@RazorHelpers.GetPropertyValue(Model.ApplicationUser, editorInfo)"
                   @Html.Raw(RazorHelpers.GetPropertyAttributes(editorInfo))
                   class="form-control" />
            <span class="text-danger field-validation-valid" data-valmsg-for="@editorInfo.Name" data-valmsg-replace="true"></span>
        }
    </div>
    }
}

