@model EditVaultSecretPageModel
@{

}

    <ul class="nav nav-pills nav-stacked">
        <li class="">
            <a asp-page="../Secrets"
               asp-route-id="@Model.LockerName">..</a>
        </li>

        <li class="@EditVaultSecretNavPages.IndexNavClass(ViewContext)">
            <a asp-page="./Index"
               asp-route-locker="@Model.LockerName"
               asp-route-id="@Model.CurrentSecret.Name">Secret</a>
        </li>

        <li class="@EditVaultSecretNavPages.VersionsNavClass(ViewContext)">
            <a asp-page="./Versions"
               asp-route-locker="@Model.LockerName"
               asp-route-id="@Model.CurrentSecret.Name">Versions</a>
        </li>

        <li class="@EditVaultSecretNavPages.DeleteNavClass(ViewContext)">
            <a asp-page="./Delete"
               asp-route-locker="@Model.LockerName"
               asp-route-id="@Model.CurrentSecret.Name">Delete</a>
        </li>

    </ul>