@model IEditApiResourcePageModel

    <ul class="nav nav-pills nav-stacked">
        <li class="">
            <a asp-page="../Apis"
               asp-route-id="@Model?.CurrentApiResource?.Name">..</a>
        </li>
        <li class="@EditApiResourceNavPages.IndexNavClass(ViewContext)">
            <a asp-page="./Index"
               asp-route-id="@Model?.CurrentApiResource?.Name">Name</a>
        </li>
        <li class="@EditApiResourceNavPages.SecretsNavClass(ViewContext)">
            <a asp-page="./Secrets"
               asp-route-id="@Model?.CurrentApiResource?.Name">Secrets</a>
        </li>
        <li class="@EditApiResourceNavPages.ScopesNavClass(ViewContext)">
            <a asp-page="./Scopes"
               asp-route-id="@Model?.CurrentApiResource?.Name">Scopes</a>
        </li>

        <li class="@EditApiResourceNavPages.OptionsNavClass(ViewContext)">
            <a asp-page="./Options"
               asp-route-id="@Model?.CurrentApiResource?.Name">Options</a>
        </li>
        @*  // No Properties!?
        <li class="@EditApiResourceNavPages.PropertiesNavClass(ViewContext)">
            <a asp-page="./Properties"
               asp-route-id="@Model?.CurrentApiResource?.Name">Advanced Properties</a>
        </li>*@
        <li class="@EditApiResourceNavPages.DeleteApiNavClass(ViewContext)">
            <a asp-page="./DeleteApi"
               asp-route-id="@Model?.CurrentApiResource?.Name">Delete</a>
        </li>
    </ul>
