@page
@model IdentityServer.Areas.Admin.Pages.Resources.EditApi.OptionsModel
@{
    ViewData["Title"] = "Api Options";
    ViewData["ActivePage"] = EditApiResourceNavPages.Options;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    <div class="col-md-6">

        <ul class="nav nav-pills nav-stacked">
            @foreach (var field in typeof(IdentityServer.Legacy.Models.IdentityServerWrappers.ApiResourceModel).GetProperties())
            {
                if (field.CanWrite && field.PropertyType == typeof(bool))
                {
                    var name = field.Name;
                    var hasValue = (bool)field.GetValue(Model.CurrentApiResource);

                    <li style="border-bottom:1px solid #eee">
                        <a asp-page-handler="Set"
                           asp-route-id="@Model.CurrentApiResource.Name"
                           asp-route-option="@name"
                           asp-route-value="@(!hasValue)">
                            <div style="width:32px;height:26px;float:left"
                                 class="@(hasValue ? "glyphicon glyphicon-ok" : "")">
                            </div>
                            <div>@(name)</div>
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>